@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

body {
  display: flex;
  background-color: #000000e8;
  color: var(--el-text-color-placeholder);
}

.page {
  height: calc(100% - 80px);
  place-items: start;
  display: flex;
  margin: auto;
  width: fit-content;
  @media (max-width: 1024px) {
    height: calc(100% - 140px);
    margin-top: 140px;
  }
}

.weather-status {
  display: flex;
  align-items: center;
}

.wrapper {
  transition: opacity 0.1s;  
  opacity: 1;
  margin-top: 200px;

  @media (max-width: 1440px) {
    margin-top: 100px;
  }
  @media (max-width: 1024px) {
    margin-top: 0;
  }
}

.wrapper.loading {
  transition: opacity 0.1s;  
  opacity: 0;  
}
