@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

body {
  display: flex;
  background-color: #000000e8;
  color: var(--el-text-color-placeholder);
}

.page {
  height: calc(100% - 80px);
  place-items: start;
  display: flex;
  margin: auto;
  width: fit-content;
}

.weather-status {
  display: flex;
  align-items: center;
}

.wrapper {
  transition: opacity 0.1s;  
  opacity: 1;
  margin-top: 200px;
}

.wrapper.loading {
  transition: opacity 0.1s;  
  opacity: 0;  
}
